button:not(.swal-button), input[type="submit"],input[type="reset"]{box-shadow: 0 7px #00B9FF; background-color: #3375DF; border-radius: 800px; border: 2px solid #3375DF; cursor: default; padding: 10px; color: lime}

button:not(.swal-button):hover, input[type="submit"]:hover,input[type="reset"]:hover{box-shadow: 0 7px #00B9FF; background-color: #14B800; font-weight: bold; border-radius: 800px; border: 2px solid #14B800; cursor: pointer; padding: 10px; color: lime}

button:not(.swal-button):active,input[type="submit"]:focus,input[type="submit"]:active,input[type="reset"]:focus,input[type="reset"]:active{box-shadow: 0 2px #00B9FF; transform: translateY(2px); background-color: #14B800; border-radius: 800px;  border: 2px solid #14B800; cursor: default; padding: 10px; color: lime}

a			  {box-shadow: 0 7px #00B9FF; text-decoration: none; background-color: #79FF00; border-radius: 800px; padding: 10px; margin-bottom: 0px}

a:hover {font-weight: bold; box-shadow: 0 7px #00B9FF; text-decoration: none; background-color: #79FF00; border-radius: 800px; padding: 10px; margin-bottom: 0px}

a:focus, a:active{box-shadow: 0 2px #00B9FF; transform: translateY(2px)}

input:not([type="submit"]):not([type="reset"])	{border-radius: 800px; padding: 5px; background-color: lime; color: black}

input:not([type="submit"]):not([type="reset"]):focus	{border-radius: 800px; padding: 5px;  background-color: lime; color: black}

select, option	{background-color: #00A2FF; padding: 7px; border-radius: 800px; color: lime}

select:hover, option:hover	{background-color: #00A2FF; padding: 7px; border-radius: 800px; color: lime}

body	{background-color: #00F8FF; color: #0FCA09}
* {font-family: Calibri, Arial, Helvetica, sans-serif}
